.homepagelink{
    color: hsl(210, 100%, 21%);
    text-decoration: none;
}

.homepagelink:hover{
    color: hsl(210, 100%, 21%);
    text-decoration: none;
}

.Login {
    background-color: #fafafa;
    width: 100%;
}

.classLogo {
    position: relative;
    bottom: 2px;
    height: 25px;
    width: 45px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #000;
    color: hsl(0, 0%, 15%);
}

.navbar2 {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    background-color: #ffffff;
}

.navbar {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    background-color: #ffffff;
}

.navbar-area {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 0px;
    justify-content: center;
}

.user {
    text-align: right;
    justify-content: center;
}

.NavBar td {
    margin-top: 100px;
    width: 505px;
}

.logotd {
    padding-top: 12px;
}

.logoName {
    font-size: 30px;
    justify-content: center;
    font-family: 'BillabongW00-Regular', sans-serif;
    color: hsl(0, 0%, 15%);
}

.logo-name {
    font-size: 90px;
    margin-bottom: 0px;
    margin-top: 30px;
    height: 80px;
    font-family: 'BillabongW00-Regular', sans-serif;
    color: hsl(0, 0%, 15%);
}

.register-text {
    font-size: 17px;
    margin-top: 0px;
    color: hsl(0, 0%, 60%);
    font-weight: 600;
}

@font-face {
    font-family: "BillabongW00-Regular";
    src: url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot");
    src: url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.svg#BillabongW00-Regular") format("svg");
}

.main {
    height: 580px;
}

.main-register {
    height: 900px;
}

.login-form {
    border: 1px solid rgba(0, 0, 0, .0975);
    background-color: white;
    margin: 30px auto 0;
    justify-content: center;
    height: 53%;
    width: 30%;
    text-align: center;
}

.register-form {
    border: 1px solid rgba(0, 0, 0, .0975);
    background-color: white;
    margin: 20px auto 0;
    width: 30%;
    justify-content: center;
    text-align: center;
}

.register-of-login {
    border: 1px solid rgba(0, 0, 0, .0975);
    background-color: white;
    margin: 30px auto 0;
    padding-top: 20px;
    justify-content: center;
    height: 70px;
    width: 30%;
    text-align: center;
}

.login-of-register {
    border: 1px solid rgba(0, 0, 0, .0975);
    background-color: white;
    margin: 30px auto 0;
    padding-top: 20px;
    justify-content: center;
    height: 70px;
    width: 30%;
    text-align: center;
}

.register-of-login a:hover {
    text-decoration: none;
    color: hsl(209, 86%, 58%);
}

.login-of-register a:hover {
    text-decoration: none;
    color: hsl(209, 86%, 58%);
}

.register-text2 {
    color: hsl(0, 0%, 60%);
    margin-left: 15%;
    margin-right: 15%;
    font-size: 14px;
}

.register-text2 a {
    color: hsl(0, 0%, 60%);
}

.register-text2 a:hover {
    color: hsl(0, 0%, 60%);
}

.donthaveid {
    color: hsl(0, 0%, 15%);
}

.registerlink {
    color: hsl(209, 86%, 58%);
    font-weight: 400;
    text-decoration: none;
}

/* Input {
    padding-left: 10px;
    width: 100px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 88%);
    background-color: #fafafa;
} */

Form {
    margin: 15px 30px;
}

.loginButton {
    width: 324px;
    height: 38px;
    border-radius: 4px;
    color: #ffffff;
}

.registerButton {
    width: 324px;
    height: 38px;
    border-radius: 4px;
    color: #ffffff;
}

ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
}

li {
    float: left;
}

li a,
li span {
    width: 100%;
    display: block;
    color: hsl(210, 100%, 21%);
    text-align: center;
    padding-top: 60px;
    padding-right: 54px;
    text-decoration: none;
}

li a:hover {
    color: hsl(210, 100%, 21%);
    text-decoration: none;
}

.footer {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.fong {
    font-family: 'BillabongW00-Regular', sans-serif;
    font-weight: 400;
    font-size: 65px;
    padding-left: 15%;
    height: 50px;
}

.classuserLogo {
    height: 25px;
    width: 25px;
    text-align: right;
}

.Search-form {
    padding-bottom: 10px;
    width: 110%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.search {
    background-color: #000;
}

.NavBar2 td {
    width: 400px;
}

.container {
    border: 1px solid rgba(0, 0, 0, .0975);
    width: 900px;
    height: 100%;
}

.profileMain {
    width: 100%;
    height: 600px;
    padding-top: 50px;
    padding-right: 60px;
    padding-left: 60px;
    /* background-color: white; */
}

.userProfileImage {
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .0975);
}

.userEditImage{
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .0975);
}

.facebooklink {
    color: hsl(0, 0%, 15%);
}

.facebooklink:hover {
    color: hsl(0, 0%, 15%);
    text-decoration: none;
}

.editprofilemain{
    background-color: #fafafa;
    /* border: 1px solid rgba(0, 0, 0, .0975); */
    height: 500px;
    margin-top:5%;
    margin-left:20%;
    margin-right:20%;
}

.row2:hover{
    border-left: 2px solid rgba(0, 0, 0, .0975) !important;
    background-color: rgba(0, 0, 0, .02);
    text-decoration: none;
}
.row2link:hover{
    text-decoration: none;
}

.passwordeditprofilemain{
    background-color: #fafafa;
    /* border: 1px solid rgba(0, 0, 0, .0975); */
    height: 360px;
    margin-top:5%;
    margin-left:20%;
    margin-right:20%;
}
.profilelink:hover{
    text-decoration: none;
}
.popup-content {
    border-radius: 8px;
}

.popupLink:hover{
    text-decoration: none;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 8%;
    bottom: 8%;
    margin: auto;
    background: white;
  }